<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{ project.name | titlecase }}
            <span class="badge float-end rounded-pill bg-dark" [ngClass]="tasksFound ? 'show':'hide'">Kalan görev: {{incompletedTasksCount}}</span>
        </h3>
        <p class="card-text">{{project.description | lowercase}}</p>
        <p class="card-text">{{project.startDate | date : 'dd MMMM yyyy' }}</p>
        <p class="card-text">{{project.completedPercentage | percent}}</p>
        <app-task-list [tasks]="project.tasks"></app-task-list>
    </div>
    
</div>

<span>{{ myNumber | read}}</span>

